.container{
    margin: 0 auto;
    width: 1000px;
}
.resultContainer{
    display: grid;
    grid-column-gap: 50px;
    margin-top:20px;
    animation-name: resultIn;
    animation-duration: 2s;
}
.cardHolder{
    /* background-color: tomato; */
    display: grid;
    grid-column:1/2;
}
.listHolderContainer{
    /* background-color: teal; */
    grid-column: 2/6;
}
.listHolder{
    height: 450px;
    scroll-behavior: smooth;
    overflow: scroll;
    display: grid;
}

@keyframes resultIn{
    0%{transform:translate(0,300px)}
    100%{transform:translate(0,0)}
}