.trackCardHeader{
    display:flex;
    justify-content:space-between;
    border:1px solid black;
}
.dashboardContentHolder{
    display: flex;
}
.dashboardSummaryHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: khaki;
}
.summaryCard{
    height: 100px;
    width: 250px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
.summaryPrice{
    font-size: 40px;
}