.cardHolder{
    width:300px;
    height:460px;
    border: 2px solid #219653;
    border-radius: 10px;
    overflow: hidden;
}
.productImgHolder{
    height: 150px;
    margin: 30px 25px 20px;
    border: 1px solid black;
    background-color: red;
}
.productImg{
    background-color: gray;
    width: 100%;
    height: 100%;
}
.productNameHolder{
    margin: 0 25px;
    height: 100px;
}
.productInfoHolder{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.productInfoList{
    list-style-type: none;
}
.productName{
    font-size:15px;
}
.productInfoList li{
    height: 40px;
    border-top: 1px solid black;
    padding: 0 5px;
    text-align: center;
    line-height: 40px;
    font-size:15px;
}
.platformLogo{
    background-size: cover;
}
.productLink{
    background-color: #219653;
}
.productLink a{
    text-decoration: none;
    color: white;
}
.productLink:hover{
    transform: scale(1.1);
}